<head>
    <link href= "/public/assets/game-style.css" rel="stylesheet" type="text/css" />
	<link href= "/public/assets/home-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<button onclick="location.href='/'" type="button" class="btn-back">
			&#8249; Home
		</button>
    </div>

    <div class="container">
		<span>
            <%- error %>
        </span>
    </div>
</body?