<body>
<button onclick="location.href='/new-game'" type="button">
New Game
</button>

<br><br>

<% for (let i of games) { %>
	<div>
		<button onclick="location.href='/game/?game=<%-i%>&player=1'" type="button">
		Join game <%- i %>
		</button>
	</div>
	<br>
<% } %>
</body>

<script>
	setInterval(() => { window.location.reload(); }, 2000);
</script>